<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>TextMainPage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>jsp2</servlet-name>
        <jsp-file>/LoginPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp2</servlet-name>
        <url-pattern>/jsp2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>jsp1</servlet-name>
        <jsp-file>/TextMainPage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp1</servlet-name>
        <url-pattern>/jsp1</url-pattern>
    </servlet-mapping>
</web-app>